# Editor and Debugger files
*.rdbg
*.code-workspace
*.cap
*.10x

# Build Extras
*.asm
*.bin
*.ilk
*.pdb
*.cso
*.obj
*.i
*.ini
# These just showed up, don't know why?
*.exp 
*.lib

# Third Party
third_party/Superluminal/*

# Temp folders
.vs/
.vscode/
pix_captures
nsight
vs_files
